[Desktop Entry]
Name=Iceape Mail
Name[pl]=Poczta Iceape
Exec=iceape -mail
Icon=iceape
Terminal=false
Type=Application
Categories=Network;Email;
# vi: encoding=utf-8
